.jumbotron {
  background-image: linear-gradient(blue, purple);
  color: rgb(62, 255, 62);
  text-align: center;
}
body {
  background-image: linear-gradient(pink, yellow);
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: auto;
}