.jumbotron {
  background-image: linear-gradient(35deg,blue, rgb(104, 253, 104), rgb(250, 7, 250));
  color: rgb(56, 7, 190);
  text-align: center;
}
body {
  background-image: linear-gradient(90deg, rgb(255, 72, 231), rgb(255, 255, 0));
  margin-bottom: 100px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 180px;
  height: auto;
  blox-shadow: 12px 12px 2px 1px rgb(198, 198, 255);
}

.player1, .player2 {
  /* display: none; */

}

#game-grid {
  display: grid;
  grid-template-columns: 35% 30% 35%;
  margin-top: 100px;
}

.players {
  background-image: linear-gradient(rgb(38, 246, 38), cyan);
  margin-right: 10%;
  border-radius: 25px;
  text-align: center;
  box-shadow: -10px 10px 20px 4px rgb(251, 255, 0);
  /* display: none; */
}

.dice-roll {
  background-image: linear-gradient(rgb(192, 6, 192), red);
  border-radius: 50%;
  padding-top: 41%;
  width: 100%;
  height: auto;
  box-shadow: 0 10px 20px 0 rgb(43, 255, 0);
  /* display: none; */
  text-align: center;
  padding-bottom: 41%;
}

.scoreboard {
  background-image: linear-gradient(cyan, rgb(13, 255, 13));
  margin-left: 10%;
  border-radius: 25px;
  text-align: center;
  box-shadow: 10px 10px 20px 4px rgb(0, 89, 255);
  /* display: none; */
}
.loser {
  display: none;
}