.jumbotron {
  background-image: repeating-linear-gradient(35deg,blue, purple);
  color: rgb(62, 255, 62);
  text-align: center;
}
body {
  background-image: linear-gradient(pink, yellow);
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: auto;
}

.player1, .player2{
  display:none;
}